# Exact paths to config junk
INSTALL
aclocal.m4
configure
config/(config.guess|config.sub|depcomp|install-sh|ltmain.sh|missing)
config.log
config.status
libtool
autom4te.cache
autom4te.cache/*
src/libmemcached_config.h.in
src/stamp-h1
src/.libs/*
src/.deps/*
stamp-h1
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/mkinstalldirs

# Build artifacts
src/libmemcached_functions_mysq.la

Makefile
Makefile.in
*.deps
*.libs
*.lo
*.o

# Generated man files
*.1
*.3


# Merged files
\.orig$

config.tar.gz
docs/memc_append.3
docs/memc_decrement.3
docs/memc_get.3
docs/memc_increment.3
docs/memc_list_behaviors.3
docs/memc_prepend.3
docs/memc_servers_behavior_set.3
docs/memc_servers_set.3
docs/memc_set.3
src/libmemcached_config.h
src/libmemcached_functions_mysql.la
udf.txt
